// $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
// @import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...

$curvature: .8rem;
$background: #333333;
$background-contrast: #777777;
$primary: #e57373;
$primary-light: #ffa4a2;
$primary-dark: #af4448;
// $secondary: #4caf50;
// $secondary-light: #80e27e;
// $secondary-dark: #087f23;
$secondary: #42a5f5;
$secondary-light: #80d6ff;
$secondary-dark: #0077c2;
$primary-text: #000000;
$secondary-text: #000000;

* {
    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1150px) {
    :root {
        font-size: 12px;
    }
}

@media screen and (max-width: 1065px) {
    :root {
        font-size: 10px;
    }
}

@media screen and (max-width: 890px) {
    :root {
        font-size: 8px;
    }
}

@media screen and (max-width: 714px) {
    :root {
        font-size: 6px;
    }
}

#main {
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 2fr 5fr 2fr 2fr 5fr 2fr;
    grid-template-rows: 3rem 8rem 3rem 13fr;

    background: $secondary-dark;
    .working {
        background: $primary-dark;
    }

    .timer {
        grid-row: 1 / span 3;

        background: $background;

        &.left {
            grid-column: 1 / span 3;

            &.enabled {
                background: $primary;
            }

            &.time-display {
                grid-column: 2 / span 1;
            }
        }

        &.right {
            grid-column: 4 / span 3;

            &.enabled {
                background: $secondary;
            }

            &.time-display {
                grid-column: 5 / span 1;
            }
        }

        &.time-display {
            background: rgba(0, 0, 0, .5);
            color: #ffffff;

            grid-row: 2 / span 1;
            
            font-size: 4rem;
            line-height: 7rem;
            padding: .5rem;
            text-align: center;

            border-top-left-radius: $curvature;
            border-bottom-left-radius: $curvature;
            border-top-right-radius: $curvature;
            border-bottom-right-radius: $curvature;
            z-index: 10;
        }
    }

    .state-display {
        grid-column: 3 / span 2;
        grid-row: 1 / span 3;

        margin: 2rem;
        padding: 1.5rem;
        text-align: center;
        line-height: 7rem;
        font-size: 3rem;
        white-space: nowrap;

        color: #ffffff;
        background: $secondary;
        &.working {
            background: $primary;
        }

        .state-text {
            background: rgba(0, 0, 0, .5);
            border-radius: $curvature;
        }

        border-radius: $curvature;
    }

    .tasks {
        grid-row: 4 / span 2;

        display: grid; 
        grid-template-columns: 1fr 12fr 1fr;
        grid-template-rows: 1fr 3rem 8fr 1fr;
        grid-gap: 0;
        overflow: hidden;

        .task-header {
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;

            font-size: 2rem;
            line-height: 3rem;
            text-align: center;

            color: $primary-text;

            border-top-left-radius: $curvature;
            border-top-right-radius: $curvature;
        }

        .task-list {
            grid-column: 2 / span 1;
            grid-row: 3 / span 1;
            
            overflow-y: auto;

            border-bottom-left-radius: $curvature;
            border-bottom-right-radius: $curvature;

            .task {
                display: grid;
                grid-template-columns: 3rem 3rem 1fr;
                grid-template-rows: minmax(3rem, auto);
                align-items: center;

                color: #ffffff;
                padding: .5rem;
                font-size: 1.5rem;
                text-align: center;
                line-height: 2rem;
                margin: .5rem;

                transition: background .1s;
                transition: color .1s;

                .task-action1 {
                    cursor: pointer;
                    grid-area: 1 / 1 / 2 / 2;
                    font-size: 1rem;
                    line-height: 1rem;
                }

                .task-action2 {
                    cursor: pointer;
                    grid-area: 1 / 2 / 2 / 3;
                    font-size: 1rem;
                    line-height: 1rem;
                }

                .task-text {
                    padding-left: .75rem;
                    grid-area: 1 / 3 / 2 / 4;
                    text-align: left;

                    input {
                        &::placeholder {
                            color: #aaaaaa;
                        }

                        width: 100%;
                        font-size: 1.5rem;
                        line-height: 3rem;
                        text-align: left;
                        border: none;
                        background: transparent;
                        color: #ffffff;
                    }
                }
            }

            &::-webkit-scrollbar {
                width: .5rem;
            }

            &::-webkit-scrollbar-track {
                background: #111111;
                border-bottom-right-radius: .5rem;
            }

            &::-webkit-scrollbar-thumb {
                background: #888888;
                border-radius: .25rem;
            }
        }

        // .obscure {
        //     grid-column: 2 / span 1;
        //     grid-row: 2 / span 2;
        //     z-index: 10;

        //     border-radius: $curvature;
        //     background: rgba(0, 0, 0, .7);
        // }

        &.left {
            grid-column: 1 / span 3;

            .task-header {
                background: $primary;
            }

            .task-list {
                background: $background;

                .task {
                    background: $background-contrast;

                    &:hover {
                        background: $primary-light;
                    }
                }
            }
        }

        &.right {
            grid-column: 4 / span 3;

            .task-header {
                background: $secondary;
            }

            .task-list {
                background: $background;

                .task {
                    background: $background-contrast;

                    &:hover {
                        background: $secondary-light;
                    }
                }
            }
        }
    }
}